        <div class="copy">
            <!-- 著作権表示 削除しないでください -->
            <p>
                <a href="https://dev.oekakibbs.net/" target="_top" title="ROIE-board {{ lot }}">ROIE-board {{ ver }}</a>
                Theme - <a href="https://dev.oekakibbs.net/" target="_top" title="classic {{ tver }}">classic {{ tver }}</a>
            </p>
            <p>
                OekakiApplet - <a href="http://hp.vector.co.jp/authors/VA016309/" target="_blank" rel="noopener noreferrer" title="by しぃちゃん">Shi-Painter</a>
            </p>
            <p>
                UsedFunction -
                <a href="https://twig.symfony.com/" target="_top" title="Twig (by symfony)">Twig</a>
                DynamicPalette <!-- http://wondercatstudio.com/ -->
                <a href="https://github.com/funige/neo/" target="_top" title="by ImageCanvas">PaintBBS NEO</a>
            </p>
        </div>